/*---------------------Estilos de hoja de Políticas de Privacidad ---------------------------*/

h1{

	font-family: bmwmotorradtypewebbo_all-italic;
	font-size: 32px;
	text-align: center;
	margin-bottom: 3%;
	margin-top: 5%;
}

p{

	font-family: bmwmotorradtypewebli_all;
	font-size: 14px;

}

h3{

	font-family: bmwmotorradtypewebbo_all-italic;
	font-size: 16px;

}