/* Cabecera del CSS */

.cont_cabecera{
	width: 100%;
	height: 120px;
}

#i_cabecera img{
	position: relative;
	width: 100%;
	height: 120px;
	position: absolute; /*corregir para colocar pestañas de imágenes laterales*/
	box-shadow: 0px 5px 39px -8px rgba(0, 0, 0, .50);
}

.menu_derecho{
	position:absolute;
	left: 0;
	width: 45%;
	top: 5%;
	height: 34px;
	box-shadow: 4px 10px 5px -8px rgba(0, 0, 0, .50);

}

.menu_izquierdo{
	position: absolute;
	right: 0;
	width: 45%;
	top: 5%;
	height: 34px;
	box-shadow: 9px 10px 5px -8px rgba(0, 0, 0, .50);

}
.md_contenedor img{
	width: 100%;
	height: 34px;
	position: relative;

}

#menu_izquierdo .navegador li a{

	/*text-align: right;	*/

}
.mi_contenedor img{
	width: 100%;
	height: 34px;
	position:relative;
}

.nav-iz{
	
}

.logo{
	position: absolute;
	top: .5%;
	right: 45%;
	left: 45%;
}

.logo img{
	width: 100%;
}


/*-------------------------------------Menú----------------------------------------------------------*/

/* Corregir el menú en su dimensión y hacer responsive el espacio que existen entre cada uno de los elementos
en conjunto con el hover*/

.navegador{
	position: absolute;
	width: 100%;
	top: 0%;
	padding: 0;
	z-index: 30;


}

.navegador li a{

	padding-top: 10px;
	display: block;
	width: 154px;
	height: 34px;
	text-align: center;
	font-size: 1.1vw
	z-index: 31;
}


.navegador li ul li a{

	background-color: rgba(255, 255, 255, 0.5);
	width: 100%;
	text-align: center;
	font-size: 1.1vw;
	z-index: 32;

}
.navegador li ul li a.m_inferior{

	border-bottom: solid #286297 5px;
}
.navegador>li{
	float: left;
}


 /*------------------------------------------Elementos Hover----------------------------------------------------------*/  


.navegador li a:hover{
	 
     background-image: url("../Imagenes/marcador_de_menu.png");
     height: 24px;
     background-size: cover;
     background-repeat: no-repeat;
     color: #ffffff;
     font-weight:bold;
     z-index: 100;
 }
#menu_derecho .navegador li a.mdm_esquina_der:hover{
     background-image: url("../Imagenes/mdm_esquina_der.png");
     height: 33px;
     background-size: cover;
     background-repeat: no-repeat;
     color: #ffffff;
     font-weight:bold;
     z-index: 101;    

 }
#menu_izquierdo .navegador li a.mdm_esquina_izq:hover{
     background-image: url("../Imagenes/mdm_esquina_izq.png");
     height: 33px;
     background-size: cover;
     background-repeat: no-repeat;
     color: #ffffff;
     font-weight: bold;
     z-index:102;  

 }
  /*------------------------------------------Submenu----------------------------------------------------------*/  
.navegador li ul{
     display:none;
 }
 .navegador li {
     /position: relative;

  }
 .navegador li ul li{
     top: 0px;
  }
.navegador li:hover > ul{
     display: block;
  }

  /*--------------------------------sección de fecha de calendario ------------------------*/


  .recuadro{

  	width: 100%;
  	height: 300px;
  }

.recuadro-calendario{
	width: 100%;
  	height: 300px;
	position: relative;
	
}
  .recuadro-calendario img{

  	width: 30%;
  	position: absolute;
  	left: 35%;
  	right: 35%;
  	top: 20%;
  }

