/*-----------------------------------------Calendario de Actividades ------------------------------------------*/

#cal-actividades{

	margin-top: 50px;

}

.calendar{ /* Dimensiona el tamaño del calendario*/

	width: 100%;
	max-width: 1200px;
	height: auto;
	/*margin: 1em auto;
	padding: .2em 0;*/
}

.calendar-info{ /*modifica las dimensiones del título del mes*/

	display:flex;
	align-items: center;
	padding: 0 2em;
	font-family: aku_kamu;
	text-transform: uppercase;
}

.calendar-prev, .calendar-next{

	color: yellow;
	cursor: pointer;
	font-size: 1.4em;
	display:none;
}

.calendar-prev{

	margin-right: auto;
}

.calendar-next{

	margin-left: auto;
}

.calendar-week, .calendar-dates{

	display: grid;
	grid-template-columns: repeat(7, 1fr);
	grid-gap: 10px;
}

.calendar-month, .calendar-year {

	padding: .5em 1em;
}

.calendar-item{

	text-align: center;
	line-height: 2;
}

.calendar-today{

	background: #003761;
	color: white;
	font-weight: bold;
	width: 35%;
	border-radius: 50%;
	margin: auto;
}

.calendar-last-days{

	opacity: .3;	
}
.calendar-year{

	display:none;
}

.calendar-month{

	padding: 0;
	font-size: 8em;
	display:flex;
	align-items: center;
	margin: auto;
	letter-spacing: 40px;
}

.calendar-date{

	cursor: pointer;
}

.calendar-date:hover{

	color: #ff0000;
}