/*----------------------------------------------------Cuerpo del contenido---------------------------------------------*/

.pregunta-contenedor {

	width: 100%;
	/*margin: 50px auto; */
}

.pregunta-contenedor img{

	width: 100%;
}

.recuadro-pregunta	.pregunta-contenedor{

	display: grid;
	grid-template-columns: 25.1% 1fr;
}

.recuadro-contenedor{

	position:relative;
}

.pregunta-contenedor h1{

	position: absolute;
	left: 5%;
	bottom: 15%;
	font-family: arial;
	font-size: 4vw;
	color: #fff;
}

.recuadro-pregunta{

	margin-top: 5px;
}

/*------------------------------- logo sombra --------------------------------------------*/

.im-sombra img{

	width: 100%;
}

.im-sombra{
	width: 100%;
	height: 450px;
	position: relative;
}

.contenedor-im{
	position: absolute;
	right: 0;
	bottom: 0;
}
/*----------------------------------- Preguntas --------------------------------------------*/

.FAQ-contenedor{
	width: 80%;
	margin: auto;
	padding-top:5%;
	font-family: verdana;
	font-size: 1vw;
}

.FAQ-contenedor h3{

	font-weight:bold;
	padding-bottom: 2%;
	font-size: 1.5vw;	
}

.FAQ-contenedor p{

	width: 75%;
	margin: left;
	padding-bottom: 3%;
}