/*----------------------------------------------------Cuerpo del contenido---------------------------------------------*/

.historia-contenedor {

	width: 100%;
	/*margin: 50px auto; */
}

.historia-contenedor img{

	width: 100%;
}

.recuadro-historia	.historia-contenedor{

	display: grid;
	grid-template-columns: 25.1% 1fr;
}

.recuadro-contenedor{

	position:relative;
}

.historia-contenedor h1{

	position: absolute;
	left: 5%;
	bottom: 15%;
	font-family: arial;
	font-size: 7vw;
	color: #fff;
}

.recuadro-historia{

	margin-top: 5px;
}
/*--------------------------------------- Cuerpo del contenido del sitio web-------------------------------------------*/

.moto-h{

	margin-top: 50px;
	position: relative;
}

.moto-contenedor p{

	width: 70%;
	margin: auto;
}