/*-------------------------------------Reel de imágenes ---------------------------------------*/

.linead{

  	width: 90%;
  	height: 1px;
  	background-color: #000;
  	margin: auto;
}

.reel-img img{
	width: 100%;

}
.reel-img-contenedro, .reel-img{

	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	margin: 3% 0 3%;
}

/*-----------------------------------Título del calendario--------------------------------*/

.estructura-calendario{

	width: 40%;
	display: block;
	margin: 5% auto 10%;

}

/*-----------------------------------Cuerpo del calendario---------------------------------*/

.contendor-cuerpo img{

	width: 100%;
}

.contendor-cuerpo{

	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
}


/*---------------------------------------Elementos alternos / Calendario -----------------------------------*/

.evento-cal{
	height: 100%;
}

.brand-cal {
	height: 100%;
}
.cal-contenedor{

	width: 100%;
	margin: auto;
}

.fecha-cal{
	position:relative;
	width: 100%;
}

.datos-fecha{

	position: absolute;
	bottom: 5%;
	right: 3%;
}

.forma-fecha-cal{

	color: #fff;
	font-family: aku_kamu;
	font-size: 1.5vw;	

}

.dia-cal-d{

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #fff;
	font-size: 16vw;
	font-family: aku_kamu;
}

.calendar-date{

	cursor: pointer;
}

.calendar-date:hover{

	color: ##003761;
}


/*---------------------Base del cuerpo de calendario lado derecho---------------------------*/

.recuadro-datos-mobile{

	display:none;
}

.fecha-cal img{

	width: 100%;
}


.contenedor-mf{

	display:grid;
	grid-template-columns: 1fr 1fr;

}

.contenedor-mf img{

	width: 100%;
}

.recuadro-blanco{

	width: 100%;
	background-color: #fff;
}

/*-----------------------Base del cuerpo de calendario lado izquierdo---------------------*/
.recuadro-contenidop{

	width:100%;
	height: 100%;
	background-color: #397390;
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 3;

}

.recuadroc-azul{

	grid-column-start: 2;
}
.recuadroc-azul img{

	width: 100%;
	height: 100%;

}

.contenedor-f{

	margin-top:10px;
}


/*------------------------------   -----Marcador de secipon---------------------------------------------*/

.marcador-c{

	 background-image: url("../Imagenes/marcador_de_menu.png");
	 height: 24px;
     background-repeat: no-repeat;
     color: #ffffff;
     font-weight:bold;
     z-index: 100;
}

/*--------------------------Media query calendario-----------------------------*/

 @media screen and (max-width: 720px){

.contendor-cuerpo{

	display: block
}

/*-----------------------------Datos recuadro ---------------------------------*/
.datos-recuadro{

	display: block;
}
.recuadro-datos-mobile{

	width: 100%;
	height: 50vw;
	background-color: #397390;
	margin-top: 3%;
}

.datos-recuadro{

	width: 90%;
	margin: auto;
}

.datos-recuadro h3{

	color: #fff;
	font-family: Verdana;
	font-size: 3vw;
	font-weight: bold;
	padding-top: 10%;
	padding-bottom: 5%;

}

.t-recuadro{

	display:grid;
	grid-template-columns: 1fr 1fr;
}

.datos-eventos p{

	color: #fff;
	font-family: Verdana;
	font-size: 2vw;
	font-weight: bold;
	margin-bottom: 4%;
}

.datos-info p{

	color: #fff;
	font-family: Verdana;
	font-size: 2vw;;

}

.forma-fecha-cal{

	font-size: 2vw;	

}

./*------------------------------estructura de maquetado inferior-----------------------------*/

.contenedor-mf{

	margin: 0;
}

.contenedor-imob{

	display: grid;
	grid-template-columns: 30% 1fr;
	margin-top: 5%;

}
.contenedor-mf{

	display:grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr;
}



 }