/*-------------------------------Botón---------------------------------------*/

.boton{

	background-image: url("../Imagenes/boton.png");
	width: 40%;
	min-width: 81.531px;
	background-size: cover;
	background-repeat: no-repeat;
	cursor: pointer;
	box-shadow: 1px 10px 5px -8px rgba(0, 0, 0, .50);
	margin: auto;
	margin-top: 10px;
	transition: background-image 1s;

}

.boton:hover{

	background-image: url("../Imagenes/boton-hov.png");
}

.boton p{

	font-family: arial;
	text-align: center;
	font-size: 1vw;
	font-weight: bold;
	color: #fff;
	line-height: 3em;
}

/*---------------------------------------Cajas de menú-------------------------------------------------*/

#boxes .contenedor-box{

	display:grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.contenedor-box .box{

	display: grid;
	grid-template-rows: 1fr, 1fr, 1fr, 1fr;
}
#boxes{

	width:80%;
	margin: 50px auto;
}

.box{

	text-align: center;
	box-sizing: border-box;

}

.box>p{

	font-family: verdana;
	width: 40%;
	text-align: justify;
	margin: 5% auto;
	font-size: 0.7vw;

}

.box img{

	width: 25%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 5%;

}
.box img.im_historia{

	width: 45%;
	padding-bottom: 11px;
}

.box img.im_contact{

	margin-bottom: 15px;
}

.clr{

	clear: both;
}

.box h3{

	font-size: 1.2vw;


}
/*---------------------------------------Quienes Somos---------------------------------------------*/

.box-contenedor {

	width: 100%;
	margin: 50px auto; 
}

.box-contenedor img{

	width: 100%;
}

.box-principal,	.box-contenedor{

	display: grid;
	grid-template-columns: 14% 63.5% 1fr;
}

.moto-lat{

	box-shadow: -4px 0px 6px -1px rgba(0,0,0,0.45);
}

.blc-blanco{

	margin-top: 5%;
	position: relative;
}

.moto-lat{

	margin-top: 14.4%;
}

.contenido-q{

	width: 70%;
	position: absolute;
	top: 15%;
	left: 15%;
	font-family: verdana;
	font-size: 1vw;
	text-align: justify;
}

.contenido-q h3{

	padding-bottom: 15px;
	font-size: 3nw;
	text-align: center;
}

.blc-blanco .boton{

	position: absolute;
	bottom:10%;
	left: 30%;

}
/*---------------------------------------Caja de menú inferior ------------------------------------------*/

#boxes2 .contenedor-box{

	display:grid;
	grid-template-columns: 1fr 1fr;
}

#boxes2{

	margin-top: 50px;
	margin-left: 22%;
	margin-right: 22%;
}

.box .im_preguntas{

	width: 39%;
}

/*---------------------------------------línea inferior y cabecera-----------------------------------------*/

#titulo_calendar{

	margin-top: 50px;
}

.linea{

	background-color: #000;
	width: 80%;
	height: 1px;
	margin: auto;
}

.im-calendar{

	display:block;
	margin: 25px auto;
	width: 25%;
}

/*---------------------------------------Elementos alternos / Calendario -----------------------------------*/

.evento-cal{
	height: 100%;
}

.brand-cal {
	height: 100%;
}
.cal-contenedor{

	width: 100%;
	margin: auto;
}

.cal-contenedor img{

	width: 100%;
}

.cal-actividades, .cal-contenedor{

	display: grid;
	grid-template-columns: repeat(10, 1fr);
}

.cal-contenedor img:first-child{

	grid-column-start: 2;
	grid-column-end: 5;
}

.calendar{

	padding-bottom: 5%;
	grid-column-start: 5;
	grid-column-end: 10;
}

/*.cal-contenedor img:nth-child(3) {*/
.fecha-cal{
	grid-column-start: 2;
	grid-column-end: 6;
	position:relative;
	width: 100%;
}

.datos-fecha{

	position: absolute;
	bottom: 5%;
	right: 3%;
}

.forma-fecha-cal{

	color: #fff;
	font-family: aku_kamu;
	font-size: 2vw;	

}

.dia-cal-d{

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #fff;
	font-size: 24vw;
	font-family: aku_kamu;
}

.cal-contenedor img:last-child {

	grid-column-start: 6;
	grid-column-end: 10;
}

.calendar-date{

	cursor: pointer;
}

.calendar-date:hover{

	color: ##003761;
}

