*{
	padding: 0;
	margin: 0;
}
body{
	background-color:#f1f0f0;
	font-family: verdana, arial, Miryad Pro, verdana, aku_kamu, arcena;
	font-size: 1.5vw;
	width: 100%;
}

/*------------------------------Menú-------------------------------------------*/

nav{

	font-family: Miryad Pro;
	font-size: 2vw;

}

ul, ol{
	list-style: none;
}

a{
	color: #000000;
	text-decoration: none;
}

/*----------------------------fonts ----------------------------------------*/

@font-face{

	src: url(../fonts/verdana.ttf);
	font-family: verdana;
}

@font-face{

	src: url(../fonts/arcena.ttf);
	font-family: arcena;
}

@font-face{

	src: url(../fonts/aku_kamu.otf);
	font-family: aku_kamu;
}